In [1]:
import pandas as pd

In [2]:
from google.colab import files
arq = files.upload()

Saving TabelaTanques.xlsx to TabelaTanques.xlsx

In [4]:
df = pd.read_excel("TabelaTanques.xlsx")

In [5]:
df.head(10)

  Familia         Modelo  ... Calibre Primario   País de Origem
0     BMD     2S25 Sprut  ...            125mm  Federação Russa
1     BMD         BMD-2M  ...             30mm  Federação Russa
2     BMD   BMD-4/BMD-3M  ...     30mm + 100mm  Federação Russa
3     BMD         BMD-4M  ...     30mm + 100mm  Federação Russa
4     BMD         BMD-1M  ...             73mm  Federação Russa
5     BMD          BMD-2  ...             30mm             URSS
6     BMD          BMD-3  ...             30mm             URSS
7     BMD          BMD-1  ...             73mm             URSS
8     BMD         BMD-1P  ...             73mm             URSS
9     BMP  Khrizantema-S  ...             ATGM  Federação Russa

[10 rows x 6 columns]

In [6]:
df.shape

(130, 6)

In [9]:
#exibindo as famílias
df["Familia"].unique()

array(['BMD', 'BMP', 'IS', 'KV', 'Prototipos', 'T-18', 'T-26', 'T-28',
       'T-34', 'T-44', 'T-54/55', 'T-60', 'T-62', 'T-64', 'T-70', 'T-72',
       'T-80', 'T-90'], dtype=object)

In [11]:
#listando calibres primários por família
df.groupby("Familia")["Calibre Primario"].nunique()

Familia
BMD           4
BMP           5
IS            4
KV            5
Prototipos    7
T-18          2
T-26          7
T-28          1
T-34          6
T-44          3
T-54/55       2
T-60          1
T-62          4
T-64          2
T-70          3
T-72          2
T-80          1
T-90          1
Name: Calibre Primario, dtype: int64

In [14]:
#listando os calibres
df.groupby("Calibre Primario").nunique()

                     Familia  Modelo  ...  Década de Construção  País de Origem
Calibre Primario                      ...
100mm                      6      14  ...                     5               1
115mm                      2       3  ...                     2               1
120mm                      1       1  ...                     1               1
122mm                      4      15  ...                     4               1
125mm                      7      21  ...                     5               2
130mm                      2       2  ...                     1               1
152mm                      3       5  ...                     2               1
20mm                       1       1  ...                     1               1
30mm                       3       9  ...                     4               2
30mm + 100mm               2       5  ...                     3               2
37mm                       3       3  ...                     3               1
37mm ou 76mm               1       1  ...                     1               1
45mm                       2       4  ...                     2               1
57mm                       1       1  ...                     1               1
7.62mm                     2       2  ...                     2               1
73mm                       2       7  ...                     4               2
76mm                       7      21  ...                     2               1
76mm + 45mm                2       3  ...                     1               1
85mm                       5       7  ...                     2               1
ATGM                       2       3  ...                     3               2
Lança-Chamas + 45mm        2       2  ...                     1               1

[21 rows x 5 columns]

In [15]:
#retornando amostras de modelos em serviço (com uma única exceção)
EmServico = df.loc[df["Década de Construção"] >= 1980]
EmServico.sample(10)

    Familia           Modelo  ... Calibre Primario   País de Origem
2       BMD     BMD-4/BMD-3M  ...     30mm + 100mm  Federação Russa
3       BMD           BMD-4M  ...     30mm + 100mm  Federação Russa
129    T-90            T-90M  ...            125mm  Federação Russa
124    T-80            T-80B  ...            125mm             URSS
21      BMP           BMP-1D  ...             73mm             URSS
116    T-72  BMPT Terminator  ...             30mm  Federação Russa
0       BMD       2S25 Sprut  ...            125mm  Federação Russa
105    T-62            T-62M  ...            115mm             URSS
110    T-64           T-64BV  ...            125mm             URSS
125    T-80           T-80BV  ...            125mm             URSS

[10 rows x 6 columns]

In [16]:
df.groupby("País de Origem")["Familia"].nunique()

País de Origem
Federação Russa     6
URSS               17
Name: Familia, dtype: int64

In [17]:
#contando modelos por década
df.groupby("Década de Construção")["Modelo"].nunique()

Década de Construção
1920     1
1930    21
1940    43
1950     9
1960     9
1970    10
1980    13
1990     6
2000     9
2010     9
Name: Modelo, dtype: int64